.features__list {
  display: flex;
}

.features__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.features__backgroung {
  @extend %centredFlex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}
