.footer {
  background-color: $secondary-background;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $dark-background-text;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: inline-block;

  &--email,
  &--phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__container {
  display: flex;
  align-items: baseline;
}
