.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}
}
